# Powertools for AWS Lambda
aws-lambda-powertools
boto3
fastjsonschema
aws-xray-sdk

# Linter
flake8
flake8-import-order
pep8-naming

# pytest
pytest
pytest-cov
pytest-env
pytest-html
pytest-mock
pytest-only
#requests-mock
